@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --gradient-green: linear-gradient(135deg, hsl(152 69% 31%) 0%, hsl(152 50% 22%) 100%);
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-green-default: #DDF1E3;
  --color-green-hover: #B4E9C4;
  --color-green-text: #00833B;
  
  --color-red-default: #FBDED7;
  --color-red-hover: #FFCBC1;
  --color-red-text: #B8000F;

  --color-yellow-default: #FEF4D8;
  --color-yellow-hover: #FFEDBC;
  --color-yellow-text: #FFBB00;
  
  --color-blue-default: #29A4d9;
  --color-blue-hover: #B5E9FF;
  --color-blue-text: #29A4d9;
  
  --color-primary: #198050;
  --color-primary-dark: #0C863C;

  --bg-green-gradient: linear-gradient(135deg, hsl(152 69% 31%) 0%, hsl(152 50% 22%) 100%);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-nunito: "Nunito", sans-serif;
}

body {
  background: var(--background);
  color: black;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

input[type="date"] {
  appearance: none;
  -webkit-appearance: none;
}

.green-gradient {
  background: var(--gradient-green);
}
