@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Space+Grotesk:wght@500;600;700&display=swap");

@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --gradient-green: linear-gradient(
    135deg,
    hsl(152 69% 31%) 0%,
    hsl(152 50% 22%) 100%
  );
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-green-default: #ddf1e3;
  --color-green-hover: #b4e9c4;
  --color-green-text: #00833b;

  --color-red-default: #fbded7;
  --color-red-hover: #ffcbc1;
  --color-red-text: #b8000f;

  --color-yellow-default: #fef4d8;
  --color-yellow-hover: #ffedbc;
  --color-yellow-text: #ff9900;

  --color-blue-default: #29a4d9;
  --color-blue-hover: #b5e9ff;
  --color-blue-text: #29a4d9;

  --color-primary: #198050;
  --color-primary-dark: #0c863c;

  --bg-green-gradient: linear-gradient(
    135deg,
    hsl(152 69% 31%) 0%,
    hsl(152 50% 22%) 100%
  );

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-nunito: "Nunito", sans-serif;
}

body {
  background: var(--background);
  color: black;
  font-family: "Inter", system-ui, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Space Grotesk", system-ui, sans-serif;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

input[type="date"] {
  appearance: none;
  -webkit-appearance: none;
}

.green-gradient {
  background: var(--gradient-green);
}

.skeleton {
  background: linear-gradient(
  90deg,
  #e5e7eb 25%,
  #d1d5db 50%,
  #e5e7eb 75%
);
  background-size: 200% 100%;
  animation: shimmer 1.8s infinite linear;
}

@keyframes shimmer {
  0% { background-position: 200% 0; }
  100% { background-position: -200% 0; }
}